services:
  # Configurações N8N
  n8n:
    image: n8nio/n8n
    restart: always
    env_file: .env
    ports:
      - "5678:5678"
    environment:
      # --- CONFIGURAÇÕES DE CONEXÃO E ENDEREÇO ---
      - N8N_HOST=${N8N_HOST}
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=${WEBHOOK_URL}
      - VUE_APP_URL_BASE_API=http://localhost:5678/ # Usado pelo n8n internamente
      # --- CONFIGURAÇÃO DE AUTENTICAÇÃO E CORS (Contornar Erro de Frontend) ---
      # Basic Auth desligado para testes de CORS/Conexão:
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      # Permissões de CORS ajustadas para o Live Server (127.0.0.1:5500)
      - N8N_CORS_ENABLED=true
      - N8N_CORS_ORIGIN=http://127.0.0.1:5500,http://localhost:5500
      - N8N_CORS_ALLOW_CREDENTIALS=true
    volumes:
      - ./n8n_data:/home/node/.n8n

  # Configurações Postgres
  postgres:
    image: postgres:14
    container_name: mcdonalds-postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # Configurações Strapi
  # strapi:
  #   build:
  #     context: ./.strapi/app
  #     dockerfile: Dockerfile.dev
  #   container_name: mcdonalds-strapi
  #   restart: unless-stopped
  #   volumes:
  #     - ./.strapi/app:/opt/app
  #     - strapi_node_modules:/opt/app/node_modules
  #   working_dir: /opt/app
  #   env_file: .env
  #   environment:
  #     NODE_ENV: development
  #     STRAPI_ADMIN_URL: http://localhost:1337/admin
  #     STRAPI_URL: http://localhost:1337
  #   ports:
  #     - '1337:1337'
  #   depends_on:
  #     - postgres
  #   # Ajusta permissões no diretório de trabalho dentro do container e inicia o Strapi em modo de desenvolvimento
  #   command: sh -c "chmod -R 777 /opt/app || true && npm run develop"

  react-dev:
    build:
      context: ./frontend-react
      dockerfile: Dockerfile.dev
    container_name: mcdonalds-frontend-react
    restart: unless-stopped
    volumes:
      # Monta a pasta do projeto Vite na raiz do container
      - ./frontend-react:/app
      - /app/node_modules # para impedir o host de sobrescrever o node_modules do container
    # Porta padrão do vite mapeada para minha máquia
    ports:
      - '5173:5173'
    depends_on:
      - postgres
      - n8n

  evolution-api:
    container_name: mequizap-evo-api
    image: evoapicloud/evolution-api:latest
    ports:
      - "8080:8080"
    environment:
      DEBUG: true
      CONFIG_SESSION_PHONE_VERSION: "2.3000.1030731147.258606"
      AUTHENTICATION_API_KEY: ${EVO_API_KEY}
      DATABASE_ENABLED: true
      DATABASE_PROVIDER: postgresql
      DATABASE_CONNECTION_URI: postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@postgres:5432/orion
      DATABASE_SAVE_DATA_INSTANCE: true
      DATABASE_SAVE_DATA_NEW_MESSAGE: true
      DATABASE_SAVE_MESSAGE_UPDATE: true
      DATABASE_SAVE_DATA_CONTACTS: true
      DATABASE_SAVE_DATA_CHATS: true
      DATABASE_SAVE_DATA_LABELS: true
      DATABASE_SAVE_DATA_HISTORIC: false
      DATABASE_SAVE_IS_ON_WHATSAPP: true
      DATABASE_SAVE_IS_ON_WHATSAPP_DAYS: 1
      DATABASE_DELETE_MESSAGE: true
      CACHE_REDIS_ENABLED: true
      CACHE_REDIS_URI: redis://:${REDIS_PASSWORD}@redis:6379/0
      CACHE_REDIS_PREFIX_KEY: evolution
      CACHE_REDIS_SAVE_INSTANCES: true
      CACHE_LOCAL_ENABLED: false
      # Config eventos via Webhook
      WEBHOOK_FORMAT: base64
      SEND_BASE64: true
      SEND_MEDIA_BASE64: true
    volumes:
      - ./evolution_instances_orion:/evolution/instances
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file: ./.env

  #REDIS PARA EVOLUTION API
  redis:
    image: redis:6-alpine
    container_name: orion-n8n-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis_data_orion:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 25s
      timeout: 30s
      retries: 3
    env_file: ./.env

volumes:
  postgres_data: {}
  # strapi_node_modules: {}
