version: '3.8'

services:
  # Configurações N8N
  n8n:
    image: n8nio/n8n
    restart: always
    env_file: .env
    ports:
      - "5678:5678"
    environment:
      # --- CONFIGURAÇÕES DE CONEXÃO E ENDEREÇO ---
      - N8N_HOST=${N8N_HOST}
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=${WEBHOOK_URL}
      - VUE_APP_URL_BASE_API=http://localhost:5678/ # Usado pelo n8n internamente

      # --- CONFIGURAÇÃO DE AUTENTICAÇÃO E CORS (Solução do Erro de Frontend) ---
      # Basic Auth desligado para testes de CORS/Conexão:
      - N8N_BASIC_AUTH_ACTIVE=false 
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}

      # Permissões de CORS ajustadas para o Live Server (127.0.0.1:5500)
      - N8N_CORS_ENABLED=true
      - N8N_CORS_ORIGIN=http://127.0.0.1:5500,http://localhost:5500
      - N8N_CORS_ALLOW_CREDENTIALS=true
      
    volumes:
      - ./n8n_data:/home/node/.n8n

  # Configurações Postgres
  postgres:
    image: postgres:14
    container_name: mcdonalds-postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - '5432:5432'

  # Configurações Strapi
  strapi:
    image: node:20-alpine
    container_name: mcdonalds-strapi
    restart: unless-stopped

    volumes:
      - ./.strapi/app:/opt/app
      - .:/opt/app
      - /opt/app/node_modules
    working_dir: /opt/app
    
    command: sh -c "npm install && npm run start"

    env_file: .env
    environment:
      NODE_ENV: development
      STRAPI_ADMIN_URL: http://localhost:1337/admin
      STRAPI_URL: http://localhost:1337

    ports:
      - '1337:1337'
    depends_on:
      - postgres

  # Acessar interface pelo celular
  frontend:
    image: nginx:alpine
    container_name: mcdonalds-frontend
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      # O entrypoint deve estar no formato LF (Linux) para evitar erros
      - ./src:/usr/share/nginx/html
      - ./src/entrypoint.sh:/entrypoint.sh:ro
    env_file: .env
    environment:
      - FRONTEND_HOST=${FRONTEND_HOST:-localhost}
    entrypoint: [ "/bin/sh", "/entrypoint.sh" ]

volumes:
  postgres_data: {}