version: '3.8'

services:
  # Configurações N8N
  n8n:
    image: n8nio/n8n
    restart: always
    env_file: .env
    ports:
      - "5678:5678"
    environment:
      # Configuração N8N
      - N8N_HOST=${N8N_HOST}
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=${WEBHOOK_URL}
      - VUE_APP_URL_BASE_API=http://localhost:5678/
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
    volumes:
      # Para persistência de dados
      - ./n8n_data:/home/node/.n8n

  # Configurações Postgres
  postgres:
    image: postgres:14
    container_name: mcdonalds-postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - '5432:5432'

  # Configurações Strapi
  strapi:
    image: node:20
    container_name: mcdonalds-strapi
    restart: unless-stopped
    volumes:
      - ./.strapi/app:/opt/app
    working_dir: /opt/app
    command: npm run develop

    env_file: .env
    environment:
      NODE_ENV: development

      STRAPI_ADMIN_URL: http://localhost:1337/admin
      STRAPI_URL: http://localhost:1337

    ports:
      - '1337:1337'
    depends_on:
      - postgres

  # Acessar interface pelo celular
  frontend:
    image: nginx:alpine
    container_name: mcdonalds-frontend
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - ./src:/usr/share/nginx/html
      - ./src/entrypoint.sh:/entrypoint.sh:ro
    env_file: .env
    environment:
      - FRONTEND_HOST=${FRONTEND_HOST:-localhost}
    entrypoint: [ "/bin/sh", "/entrypoint.sh" ]

volumes:
  postgres_data: {}
