/* CONTAINER PRINCIPAL */
.appContainer {
  min-height: 100vh;
  background-color: #f7f7f7;
}

/* CONTEÚDO PRINCIPAL */
.mainContent {
  padding: 0 20px 20px 20px;
}

/* TÍTULO DA SEÇÃO DE OFERTAS */
.offersTitle {
  font-size: 23px;
  font-weight: 700;
  color: #121212;
  margin: 30px 0;
  text-align: center;
}

/* SEÇÃO DOS CARDS DE OFERTA */
.offersSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20;
  width: 370px;
  height: 240px;
}

/* --- Media Query para Telas Maiores --- */

@media (min-width: 600px) {
  .mainContent {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 0 20px 0;
  }

  .offersTitle {
    margin: 20px 0 15px 0;
    text-align: left;
  }

  .offersSection {
    flex-direction: column;
  }
}
